/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #26006e;
  color: #f5f5f5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}

header #rps-logo {
  width: 300px;
  height: auto;
}

header h1 {
  margin-top: -40px;
}

/* Footer */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px 0;
}

.rules h3 {
  margin: 50px 0 0 0;
}

.rules-subtitle {
  padding: 10px 0 75px 0;
}

.footer-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.footer-content ul li img {
  margin: 0 0 0 20px;
}
.footer-content ul li p {
  margin: 0;
}

.footer-content ul img {
  width: 30px;
  height: auto;
}

.good-advice h3 p{
    margin: 20px 0;
}

.copyright{
    margin: 50px;
    display: flex;
    justify-content: center;
}