/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #26006e;
  color: #f5f5f5;
}

.welcome-page-show {
  display: block;
}
.welcome-page-hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}

header #rps-logo {
  width: 300px;
  height: auto;
}

header h1 {
  margin-top: -40px;
}

/* Section */
section {
  margin: 50px;
}

main {
  text-align: center;
}
main button {
  width: 20vw;
  height: 10vh;
  border: 2px solid #26006e;
  background-color: #00e5ff;
  border-radius: 20px;
  box-shadow: 12px 12px 3px 5px #00e5ff63;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

main button:hover {
  background-color: #00d4e6;
  transform: translateY(-2px);
  box-shadow: 14px 14px 4px 6px #00e5ff63;
}

main button:active {
  transform: translateY(4px);
  box-shadow: 6px 6px 2px 3px #00e5ff63;
}

/* Footer */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: pointer;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px 0;
}

.rules h3 {
  margin: 50px 0 0 0;
}

.rules-subtitle {
  padding: 10px 0 5px 0;
}

.footer-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.footer-content ul li img {
  margin: 0 0 0 20px;
}
.footer-content ul li p {
  margin: 0;
}

.footer-content ul img {
  width: 30px;
  height: auto;
}
.good-advice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.good-advice h3 p {
  margin: 5px 0;
}

.copyright {
  margin: 50px;
  display: flex;
  justify-content: center;
}

/* Loading page */
#loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.waitting-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #f5f5f5 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
